.cuadro__nosotros{
    width: 250px;
    height: 100px;
}
.titulo__nosotros{
    font-size: $medium;
    text-align: center;
}
.cuadro__info{
    width: 350px;
    margin-bottom: 100px;
}
.info{
    width: 300px;
    font-size: 20px;
}